*.mak
*.mak.vpc_crc
*.vpc_crc
*.vpc.*
*.project
*obj_*
.waf*
.lock-waf*
__pycache__
*.pyc
.vs/
Debug/
Debug_*/
Release/
Release_*/
*.tlog/
*.obj
*.pch
*.log
*.idb
*.pdb
*.rc
*.bin
*.vcxproj*
*.sln
*.dll*
*.exp
*.ilk
ValveETWProviderEvents.h
game/client/*/client.lib
game/server/*/server.lib
.DS_Store
build*/
.cache/
.ccache/
waf3*/
.vscode/
.depproj/
source-engine.sln
*.lock

# crappy hack
!lib/
!lib/win32
!lib/win32/amd64
!lib/win32/amd64/SDL2.dll
!lib/win32/amd64/SDL2.pdb
!lib/win32/x86
!lib/win32/x86/ftol3.obj
!lib/win32/x86/SDL2.dll
!lib/win32/x86/SDL2.pdb

opus/

# I refuse to update the readme once again
*.md